@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

.aqi {
  font-size: 1.5em;
}

.aqi-good {
  background-color: #50ccaa;
}

.aqi-moderate {
  background-color: #f0e641;
}

.aqi-unhealthy-for-sensitive-groups {
  background-color: #f0a741;  
}

.aqi-unhealthy {
  background-color: #ff5050;
}

.aqi-very-unhealthy {
  background-color: #960032;
}

.aqi-hazardous {
  background-color: #7d2181;
}
